:root {
    --venn-h: 50vh;
    --venn-w: 50vh;
    --venn-d: 5s;
}
.venn-container * {
    box-sizing: border-box;
}
.venn-container {
    background-image: radial-gradient(#fff 45%, transparent 55%);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    overflow: hidden;
}
.venn-box {
    height: var(--venn-h);
    width: var(--venn-w);
    position: relative;
}
.venn-circle-wrapper {
    position: absolute;
    height: var(--venn-h);
    width: var(--venn-w);
}
.venn-circle {
    border-radius: 50%;
    height: var(--venn-h);
    width: var(--venn-w);
    position: absolute;
}
.venn-circle1 {
    mix-blend-mode: multiply;
    background-color: rgba(0, 255, 255, 0.5);
    animation: venn-c1 var(--venn-d) ease-in-out infinite alternate;
}
.venn-circle2 {
    mix-blend-mode: multiply;
    background-color: rgba(255, 0, 255, 0.5);
    animation: venn-c2 var(--venn-d) ease-in-out infinite alternate;
}
.venn-circle3 {
    mix-blend-mode: multiply;
    background-color: rgba(255, 255, 0, 0.5);
    animation: venn-c3 var(--venn-d) ease-in-out infinite alternate;
}
.venn-label {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: #888;
    white-space: nowrap;
}
/* Read */
.venn-wrapper1 .venn-label {
    top: 77%;
    left: -10%;
}
/* Write */
.venn-wrapper2 .venn-label {
    top: -6%;
    left: 43%;
}
/* Speak */
.venn-wrapper3 .venn-label {
    top: 77%;
    right: -13%;
}
.venn-flag-bubble img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}
@keyframes venn-c1 {
    from { transform: translate(-25%, 25%); }
    to { transform: translate(0, 0); }
}
@keyframes venn-c2 {
    from { transform: translate(0, -25%); }
    to { transform: translate(0, 0); }
}
@keyframes venn-c3 {
    from { transform: translate(25%, 25%); }
    to { transform: translate(0, 0); }
}
.venn-flag-bubble {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    animation: float var(--venn-d) ease-in-out infinite;
    transform: translate(var(--start-x), var(--start-y));
    left: 43%;
    top: 43%;
}
.venn-music {
    animation: move-in-music var(--venn-d) ease-in-out infinite alternate;
}
.venn-french {
    animation: move-in-french var(--venn-d) ease-in-out infinite alternate;
}
.venn-english {
    animation: move-in-english var(--venn-d) ease-in-out infinite alternate;
}
.venn-portuguese {
    animation: move-in-portuguese var(--venn-d) ease-in-out infinite alternate;
}
.venn-spanish {
    animation: move-in-spanish var(--venn-d) ease-in-out infinite alternate;
}
.venn-italian {
    animation: move-in-italian var(--venn-d) ease-in-out infinite alternate;
}
.venn-arabic {
    animation: move-in-arabic var(--venn-d) ease-in-out infinite alternate;
}
.venn-polish {
    animation: move-in-polish var(--venn-d) ease-in-out infinite alternate;
}
.venn-catalan {
    animation: move-in-catalan var(--venn-d) ease-in-out infinite alternate;
}
@keyframes move-in-arabic {
    from {transform: translate(var(--start-x), var(--start-y));}
    to {transform: translate(34.72%, 196.96%);}
}
@keyframes move-in-catalan {
    from {transform: translate(var(--start-x), var(--start-y));}
    to {transform: translate(153.20%, 128.56%);}
}
@keyframes move-in-polish {
    from {transform: translate(var(--start-x), var(--start-y));}
    to {transform: translate(-188.00%, 68.40%);}
}
@keyframes move-in-music {
    from {transform: translate(var(--start-x), var(--start-y));}
    to {transform: translate(-100.00%, 173.20%);}
}
@keyframes move-in-italian {
    from {transform: translate(var(--start-x), var(--start-y));}
    to {transform: translate(200%, 0%);}
}
@keyframes move-in-spanish {
    from {transform: translate(var(--start-x), var(--start-y));}
    to {transform: translate(-188.00%, -68.40%);}
}
@keyframes move-in-portuguese {
    from {transform: translate(var(--start-x), var(--start-y));}
    to {transform: translate(153.20%, -128.56%);}
}
@keyframes move-in-french {
    from {transform: translate(var(--start-x), var(--start-y));}
    to {transform: translate(34.72%, -196.96%);}
}
@keyframes move-in-english {
    from {transform: translate(var(--start-x), var(--start-y));}
    to {transform: translate(-100.00%, -173.20%);}
}